#tabel-buah {
    border-collapse: separate;
}

.link {
    color: blue;
    text-decoration: underline;
}

body {
    background-color: red;
}

.wrapper {}

.container {
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    /* Background content */
    background-color: green;
}

.sidebar {
    width: 400px;
    height: 600px;
    float: left;
}

.content {
    width: 790px;
    height: 600px;
    float: right;
}

.clear {
    clear: both;
}

#logo {
    float: left;
    width: 200px;
    height: auto;
    padding: 20px;
}

#logo img {
    max-width: 100px;
    height: auto;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wrapper dan container</title>
    <link rel="stylesheet" href="asset/style.css">
</head>

<body>
    <div id="header" class="wrapper">
        <div class="container">
            <div id="logo">
                <img src="" alt="Logo Stimata">
            </div>

        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="sidebar">

            </div>
            <div class="content">

            </div>
        </div>
    </div>
</body>

</html>